@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<a href="/">
	<button>Go to server</button>
</a>

<a href="/overview">
	<button>Go to server overview</button>
</a>

<a href="/app/counter">
	<button>Go to client counter</button>
</a>